.services {
    padding: $base-spacing * 2 0;
  
    h2 {
      text-align: center;
      margin-bottom: $base-spacing * 2;
      color: $primary;
    }
  
    .card {
      @include border-radius(10px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: $base-spacing * 2;
  
      .card-title {
        color: $secondary;
      }
  
      .card-text {
        color: darken($secondary, 20%);
      }
    }
  }
  