.card-custom {
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.3));
    border-radius: 8px;
    background-color: $secondary;
    color: rgba(255,255,255,0.9);
    padding: $base-spacing;
    margin-bottom: $base-spacing;
}

